name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, ubuntu-latest, macos-latest ]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install latest nightly toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
      - name: Install dependencies for Windows
        if: matrix.os == 'windows-latest'
        uses: crazy-max/ghaction-chocolatey@v1
        with:
          args: install ninja
      - name: Install dependencies for Ubuntu
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install pkg-config && sudo apt-get install libasound2-dev
      - name: Build
        run: cargo build --manifest-path pooltouhou/Cargo.toml --release --verbose -Z unstable-options --out-dir artifacts --no-default-features --features "shader-compiler"
      - name: Upload artifacts
        uses: actions/upload-artifact@v1
        with:
          path: ${{ github.workspace }}/artifacts
          name: ${{ matrix.os }}-${{ github.run_number }}
      - name: Upload res
        uses: actions/upload-artifact@v1
        with:
          path: ${{ github.workspace }}/pooltouhou/res
          name: ${{ matrix.os }}-${{ github.run_number }}
